header {
  justify-content: space-around;
}


/* SECTION class selectors */
.maple-pic {
  max-height: 48vh;
}

.bot-pic {
  justify-content: space-around;

}



.crown-maple {
  background-color: #af3607;
  justify-content: space-evenly;
}

.maple-text {
  padding-top: 20vh;

}

.hero-text {
  justify-content: space-around;
  padding: 6vh 54vh 6vh 58vh;
}

.pic-size {
  max-width: 30vh;
  max-height: 30vh;
}

.light-button {
  color: white;
}

.button-space {
  padding: 0vh 0vh;
  font-size: 75%;
  font-weight: bold;
  justify-content: space-around;

}

.footer-space {
  padding-left: 10vh;
  padding-top: 5vh;
}